In [1]:
import os
import sys

PROJECT_ROOT = os.path.join(os.path.abspath(os.path.dirname('./../../')), 'src')

sys.path.append(PROJECT_ROOT)

import warnings
warnings.filterwarnings('ignore')

%load_ext autoreload
%autoreload 2

In [4]:
conf = {'groups_desc': 'data/small_group_description.csv',
    'train_x': 'data/transactions_train.csv',
    'test_x': 'data/transactions_test.csv',
    'train_target': 'data/train_target.csv',
    'test_target': 'data/test.csv'}

In [5]:
from data_utils import *

In [6]:
%%time

ds = DataSource(conf)
ds.read_data()
ds.validation_split()

Reading groups_desc...
Reading train_x...
Reading test_x...
Reading train_target...
Reading test_target...
Validation split: by clientID
Wall time: 24.7 s

In [83]:
ds.get_data('groups_desc')

                                           small_group  small_group_code
0                                            Зоотовары                 0
1          Сетевые супермаркеты и продуктовые магазины                 1
2          Обслуживание существующего автомобиля (АЗС)                 2
3                              Оплата телефона и связи                 3
4                                               Аптеки                 4
5                                           Авиабилеты                 5
6                                            Duty-free                 6
7                                            Страховка                 7
8                                                Спорт                 8
9                                 Универсальные товары                 9
10                                  Цветы и флористика                10
11                                      Фастфуд и кафе                11
12                                  Такси и каршеринги                12
13              Прочие отели (а также airbnb, booking)                13
14                             Автодилеры и автосервис                14
15       Несетевые супермаркеты и продуктовые магазины                15
16                                     Онлайн-магазины                16
17                                      Онлайн-сервисы                17
18                                    Рестораны и кафе                18
19                                  Сувениры и подарки                19
20                                                 Ж\Д                20
21                             Больницы и поликлинники                21
22                                   Мобильная техника                22
23                                               Обувь                23
24                                              Одежда                24
25                        Метро (паромы и Ж\Д аналоги)                25
26                                              Разное                26
27   Строительные материалы (комплектующие, свет, с...                27
28   Бытовая техника; компьютерная техника; мобильн...                28
29   Госуслуги (транспорт, некоторые музеи, оплата ...                29
..                                                 ...               ...
174                     Строительные материалы (двери)               174
175                          Политический краудфандинг               175
176                             Винодельни и пивоварни               176
177              Санатории, парки, прогулки на природе               177
178                                      Камины и печи               178
179                     Водный спорт (лодки и дайвинг)               179
180                                 Костюмы и униформа               180
181                        Прочие отели (аппартаменты)               181
182                                   Натяжные потолки               182
183               Участие в автомобильных организациях               183
184                            Стенографические услуги               184
185                                            Бильярд               185
186                       Аренда трейлеров или картинг               186
187                    Бытовая техника (электробритвы)               187
188                                          Остеопаты               188
189                                     Дом на колесах               189
190       Услуги починки (кондиционеры и холодильники)               190
191       Медицинское оборудование (слуховые аппараты)               191
192     Аренда оборудования для грузовиков и трейлеров               192
193                        Униформа и костюмы (прокат)               193
194                                          Снегоходы               194
195                            Услуги починки (мебель)               195
196  Обслуживание существующего автомобиля (утилиза...               196
197                                          Ортопедия               197
198                Наружная реклама и плоттерная резка               198
199             Услуги починки (металлические изделия)               199
200                                           Телеграф               200
201                               Мануальные терапевты               201
202                                      Скорая помощь               202
203                                    Бетонные работы               203

[204 rows x 2 columns]

In [8]:
train_x = ds.get_data('train_x')
print(train_x.head())

   client_id  trans_date  small_group  amount_rur
0       3694          26            1      10.006
1       3694          29            3      54.955
2       3694          31            1      10.945
3       3694          34           36      61.721
4       3694          36           25       4.579

In [60]:
train_x['month_number'] = train_x['trans_date']//30

In [33]:
train_x.head()

   client_id  trans_date  small_group  amount_rur  month_number
0       3694          26            1      10.006             0
1       3694          29            3      54.955             0
2       3694          31            1      10.945             1
3       3694          34           36      61.721             1
4       3694          36           25       4.579             1

In [45]:
grouped = train_x.groupby(['client_id', 'month_number'], as_index=False)

In [50]:

client_per_month_spendings = train_x.groupby(['client_id', 'month_number']).agg({"amount_rur": "sum"}).groupby('client_id').agg({'amount_rur':'mean'})

In [60]:
print(train_x.groupby(['client_id']).size())

client_id
4         720
6         730
10        706
11        812
13        754
14       1097
17       1053
19        721
20        821
25        996
27        811
28        765
31        834
32       1035
33        908
34       1033
36        819
37        772
38        720
39        760
40        916
42        792
43        917
44        714
46        866
47        749
48        920
49        868
50        970
51        791
         ...
49949     732
49950    1001
49951     915
49955     856
49957     870
49959     963
49961    1083
49962     829
49963     747
49967     702
49968     775
49971     704
49972    1082
49973     904
49974    1129
49975    1030
49977     721
49978     960
49980    1023
49981     757
49982     957
49983     904
49987    1120
49988     777
49989     706
49990     721
49995     969
49996    1138
49997     715
49998     782
Length: 24145, dtype: int64

In [10]:
grouped_by_group = train_x.groupby(['client_id', 'small_group'], as_index = False)['small_group'].agg({'freq':'count'})
client_per_max_frequent_category  = grouped_by_group.loc[grouped_by_group.groupby('client_id')['freq'].idxmax()][['client_id','small_group']]
client_per_max_frequent_category.columns = ['client_id', 'freq_group']
print(client_per_max_frequent_category.head())

     client_id  freq_group
0            4           1
23           6           1
40          10           1
68          11           1
108         13          11

In [49]:
# Вычислием среднюю максимальную транзакцию по клиентам. Далее найдем среднее отклонение максим транзакций по клиентам. 
# Это позволит найти "большие" транзакции , как mean + std. у нас не гаусово распределение, но все же оперделим значение "большой" транзакции 
# именно так.
grouped_by_max = train_x.groupby(['client_id'], as_index = False).agg({'amount_rur':'max'})
print(grouped_by_max.agg({'amount_rur':'mean'})['amount_rur'] )
large_transactions = grouped_by_max.agg({'amount_rur':'mean'})['amount_rur'] +grouped_by_max.agg({'amount_rur':'std'})['amount_rur']/40
print(large_transactions)

2765.900111078898
2941.7739788361896

In [50]:
len(train_x[train_x['amount_rur'] > large_transactions]['client_id'].unique())

5424

In [39]:
grouped_by_min = train_x.groupby(['client_id'], as_index = False).agg({'amount_rur':'min'})
small_transactions = grouped_by_min.agg({'amount_rur':'mean'})['amount_rur'] - grouped_by_min.agg({'amount_rur':'std'})['amount_rur']/2
print(small_transactions)

0.1025517531066103

In [44]:
len(train_x[train_x['amount_rur'] < small_transactions]['client_id'].unique())

13078

In [52]:
train_x[train_x['amount_rur'] < small_transactions].groupby(['client_id'], as_index = False)['trans_date'].agg({'small_num':'count'}).head()

   client_id  large_num
0          4          1
1          6          1
2         10          1
3         13          2
4         14          2

In [57]:
train_x[train_x['amount_rur'] > large_transactions].groupby(['client_id'], as_index = False)['trans_date'].agg({'large_num':'count'}).head()

   client_id  large_num
0         17          1
1         20          2
2         31          1
3         39          2
4         49         12

In [61]:

train_x.groupby(['client_id', 'month_number'])['amount_rur'].agg({"c": "count"}).groupby('client_id').agg({'c':'mean'})

                   c
client_id
4          28.800000
6          29.200000
10         28.240000
11         32.480000
13         30.160000
14         45.708333
17         42.120000
19         28.840000
20         32.840000
25         39.840000
27         32.440000
28         30.600000
31         33.360000
32         41.400000
33         36.320000
34         41.320000
36         32.760000
37         30.880000
38         28.800000
39         30.400000
40         36.640000
42         31.680000
43         36.680000
44         28.560000
46         34.640000
47         29.960000
48         36.800000
49         34.720000
50         38.800000
51         31.640000
...              ...
49949      29.280000
49950      40.040000
49951      36.600000
49955      34.240000
49957      34.800000
49959      38.520000
49961      43.320000
49962      33.160000
49963      29.880000
49967      28.080000
49968      31.000000
49971      28.160000
49972      43.280000
49973      36.160000
49974      45.160000
49975      41.200000
49977      28.840000
49978      38.400000
49980      40.920000
49981      30.280000
49982      38.280000
49983      36.160000
49987      44.800000
49988      31.080000
49989      28.240000
49990      31.347826
49995      38.760000
49996      45.520000
49997      28.600000
49998      31.280000

[24145 rows x 1 columns]

In [63]:
train_x[train_x['client_id'] == 4]

          client_id  trans_date  small_group  amount_rur  month_number
10064401          4           0            1      10.209             0
10064402          4           2            3      27.706             0
10064403          4           3            1      13.024             0
10064404          4           4            1      17.632             0
10064405          4           6            4      18.089             0
10064406          4           6            1      27.067             0
10064407          4           8            1      21.952             0
10064408          4           9           36      29.327             0
10064409          4           9            1      11.083             0
10064410          4          10           15      52.985             0
10064411          4          10            1      18.089             0
10064412          4          11           34       9.617             0
10064413          4          11            1      11.559             0
10064414          4          12            1      85.271             0
10064415          4          15            1      10.716             0
10064416          4          16            1      17.947             0
10064417          4          17            4     148.187             0
10064418          4          17            1      19.099             0
10064419          4          18           15      45.509             0
10064420          4          19            3       2.156             0
10064421          4          20           18      87.765             0
10064422          4          21            1      43.460             0
10064423          4          23            1      15.342             0
10064424          4          24            1      15.224             0
10064425          4          25            1      34.157             0
10064426          4          27            1      26.240             0
10064427          4          28           15      39.149             0
10064428          4          29            1      24.363             0
10064429          4          30            1      28.516             1
10064430          4          31            1       7.602             1
...             ...         ...          ...         ...           ...
10065091          4         700            4     161.245            23
10065092          4         700            1      32.972            23
10065093          4         701            1      48.453            23
10065094          4         702            4      30.664            23
10065095          4         702            1      62.953            23
10065096          4         704            1      90.920            23
10065097          4         705            4       2.285            23
10065098          4         705            1      18.272            23
10065099          4         706            4      22.599            23
10065100          4         706            1      83.297            23
10065101          4         711            1     265.798            23
10065102          4         712            4      41.575            23
10065103          4         715           15      21.981            23
10065104          4         717            4      30.134            23
10065105          4         717            1      30.280            23
10065106          4         718            1      29.477            23
10065107          4         718           11      11.472            23
10065108          4         720           64     220.011            24
10065109          4         720            1      19.695            24
10065110          4         721            3      28.033            24
10065111          4         722           36      51.753            24
10065112          4         723            4      31.186            24
10065113          4         723           36       6.824            24
10065114          4         723            1      51.921            24
10065115          4         725            1      41.496            24
10065116          4         726            1       8.774            24
10065117          4         727            4      16.341            24
10065118          4         727           15      41.614            24
10065119          4         728           34      22.211            24
10065120          4         728           15      13.449            24

[720 rows x 5 columns]